body {
  font-family: sans-serif;
  text-align: center;
}

header {
  margin-top: 50px;
}

/* LOGO */
img.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* TYPOGRAPHY */
h1#current-header,
h2#current-time {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 30px 0px 0px;
}

h1#current-header {
  font-size: 40px;
  padding-bottom: 10px;
  margin-top: 20px;
}

h2#current-time {
  color: rgb(161, 173, 166, 0.8);
}

h3#feels-like {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;
}

h3#converted-temp {
  margin-top: 20px;
  font-size: 36px;
}

h3#temp-high {
  font-weight: 600;
}

h4 {
  font-size: 22px;
  margin-top: 10px;
}

h5 {
  color: rgb(161, 173, 166);
  text-transform: uppercase;
  margin-top: 15px;
}

p {
  font-family: "Courier New", Courier, monospace;
  padding-top: 10px;
}

/* SECTIONS */
section,
div {
  max-width: 1000px;
}

section {
  display: block;
  margin: 0 auto;
}

#search-block {
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 30px 30px 0px 0px;
  background-color: rgb(216, 226, 220, 0.3);
}

#current-block {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  margin-top: 20px;
  color: #a1ada6;
  text-align: right;
  background-color: rgb(216, 226, 220, 0.5);
}

#forecast-section {
  margin-top: 20px;
}

#conversion-block {
  display: block;
  margin: 0 auto;
  padding: 30px;
  margin-top: 20px;
  color: #ffffff;
  background-color: rgb(216, 226, 220, 0.9);
  border-radius: 0px 0px 30px 30px;
}

/* COLUMNS */
.forecast-col {
  background-color: rgb(216, 226, 220, 0.7);
  margin: 0px 10px;
  display: block;
}

/* CARDS */
.card {
  border-radius: 100px;
  border: none;
  text-align: center;
  margin: 30px 10px;
}

#high-low-wind {
  padding-top: 30px;
}

/* FORMS LABELS INPUTS BUTTONS */
#city-input,
#temp-input {
  font-size: 16px;
  padding: 10px;
  border: none;
}

#temp-input {
  max-width: 50px;
}

#search-button,
#current-button,
#celsius-button,
#farenheit-button,
#reset-conversion,
#reset-conversion {
  padding: 15px;
  background-color: #ffffff;
  color: #ffd7ba;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  transition: all 175ms ease;
}

#search-button:hover,
#current-button:hover,
#celsius-button:hover,
#farenheit-button:hover,
#reset-conversion:hover {
  color: white;
  background-color: #ffd7ba;
}

#search-button,
#celsius-button {
  margin: 0px 10px;
}

#reset-conversion {
  margin-right: 15px;
}

/* ICONS */
.bi-sun {
  color: #ffd7ba;
  font-size: 150px;
}

.bi-thermometer-high,
.bi-thermometer-low,
.bi-wind,
.bi-moisture {
  font-size: 60px;
}

.bi-wind {
  color: #d8e2dc;
}

.bi-thermometer-high {
  color: #fec5bb;
}

.bi-thermometer-low {
  color: #e8e8e4;
}

.bi-moisture {
  color: #fae1dd;
}
